* {
  box-sizing: border-box;
  margin: 0;
  font-family: comfortaa;
  color: white;
}

body {
  background-color: #031d35;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
}
header h1 {
  /* font-size: 2rem; */
}

.form-wrapper {
  background-color: #072542;
  border-radius: 20px;
  padding: 2rem 10vw;
}
.form-wrapper .field-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.3rem;
  margin-top: 0.7rem;
}

.form-wrapper .field-wrapper textarea {
  resize: none;
}
.form-wrapper .field-wrapper select {
  cursor: pointer;
}
.form-wrapper .field-wrapper select option {
  color: black;
  cursor: pointer;
}

.form-wrapper .check-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0rem 0.4rem;
}
.form-wrapper .check-box > label {
  padding: 0.6rem 0rem;
}
.form-wrapper .check-box > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.form-wrapper .button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 0rem 0rem 1rem;
}
