$background: #031d35;
$font-main: white;

* {
  box-sizing: border-box;
  margin: 0;
  font-family: comfortaa;
  color: $font-main;
}
body {
  background-color: $background;
}
@import "./mixins";
@import "./header";
@import "./form";
@import "./res";

.container {
  @include flexLayout(column, flex-start, center);
  //   background-color: red;
  padding: 0rem 2rem 2rem 2rem;
}
//
